<nav style="font-family: 'Cookie', cursive;background-color: #50A2A7;"class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form style="margin-top: 1.0em"class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <a style="color:black;font-size:1.3em;" role="button"><span class="glyphicon glyphicon-search"></span></a>
      </form>
      {% if user.is_authenticated %}
      <ul class="nav navbar-nav navbar-left">
        <li><a style="color:black;font-size:2em" href="/"><span class="glyphicon glyphicon-home"></span></a></li>
        <li class="dropdown">
          <a href="#" style="color:black;font-size:2em"class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/profile">Profile</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/logout">Logout</a></li>
            {% else %}
            <li><a href="/accounts/login">LOGIN</a></li>
          </ul>
        </li>
      </ul>
      {% endif %}
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>