{% extends "base.html" %}
{% block content %}
<div class="container"style="font-family:'Playfair Display', serif;">
      <div class="single_hood">
        <div class="col-md-12">
          <img src="{{hood.hood_image.url}}"class="hood-image"height="300px"width="300px"style="border-radius:70%;"><br><br>
        </div>
        <div class="col-md-12">
          <p class="hood-name">{{hood.hood_name}}</p>
        </div>
         <p class="hood-description">{{hood.description}}</p>
        <p class="hood-residents">{{hood.members.count}} Member{{hoods.members.count|pluralize}}</p>
    </div>

    <div class="col-md-4">  
      <a href="{%url 'create_business' %}" style="color:black;font-size: 0.7em;" class="btn btn-warning btn-sm">
        Post A Business
      </a>
    </div>
    <div class="col-md-4">  
      <a href="{%url 'create_post' %}" style="color:black;font-size: 0.7em;" class="btn btn-warning btn-sm">
        Create Post
      </a>
    </div>
    <div id="business">
      {% for biz in biznas%}
      {{biz.business_name}}
      {% endfor %}
    </div>
</div>
{% endblock %}