{% extends "base.html" %}
{% block content %}
<div class="container">
      <div class="single_hood">
        <div class="col-md-12">
          <img src="{{hood.hood_image.url}}"class="hood-image"height="300px"width="300px"style="border-radius:70%;"><br><br>
        </div>
        <div class="col-md-12">
          <p class="hood-name">{{hood.hood_name}}</p>
        </div>
         <p class="hood-description">{{hood.description}}</p>
        <p class="hood-residents">Number of Residents: {{hood.resident_count}}</p>
    </div>
</div>
{% endblock %}