{% extends "base.html" %}
{% block content %}
<div class="container"style="font-family:'Playfair Display', serif;">
  <div class="row">
    <div class="col-md-4"style="margin-left:7%;margin-top:7%">
      <img src="{{hood.hood_image.url}}"class="hood-image"height="300px"width="300px"style="border-radius:20%;"><br><br>
    </div>
    <div class="col-md-4"style="margin-left:10%;border-style: ridge;box-shadow: 0 3px 10px rgb(0 0 0/1);margin-top: 4%;width:max-content;">
      <h2 class="hood-name">{{hood.hood_name}}</p>
      <h4 class="hood-description">{{hood.description}}</p>
      <h4 class="hood-residents">{{hood.members.count}} Member{{hoods.members.count|pluralize}}</p>
    <a href="{%url 'create_business' %}" style="color:black;font-size: 0.7em;" class="btn btn-sm btn-danger mt-4">
      Post A Business
    </a><br><br>
    <a href="{%url 'create_post' %}" style="color:black;font-size: 0.7em;" class="btn btn-sm btn-danger mt-4">
      Create Post
    </a>
  </div>
      <div id="business">
        {% for biz in biznas%}
        {{biz.business_name}}
        {% endfor %}
      </div>
  </div>
</div>
{% endblock %}